
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://preview.redd.it/lptgn2014su41.jpg?auto=webp&s=039bfed589763b2e27729f5a8503759ca16a57e7);">
  <div class="container">
    <h1>Welcome to <strong>My Tavern</strong></h1>
    <p>Moliere :“L'alcool est l'aspirine de l'âme”</p>
    <a class="btn btn-warning" href="cocktails/new">ADD A COCKTAIL</a>
  </div>
</div>

</div>
<%= link_to "Add a cocktail", "cocktails/new" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <ul>
        <% @cocktails.each do |cocktail|  %>
        <div class = "card_category">
          <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
